[submodule "vendor/kafka-protocol-rs"]
	path = vendor/kafka-protocol-rs
	url = https://github.com/sderosiaux/kafka-protocol-rs.git
	branch = kapture
[submodule "agents/ebpf-tap/vendor/libbpf"]
	path = agents/ebpf-tap/vendor/libbpf
	url = https://github.com/libbpf/libbpf.git
